<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="login_section">
    <div class="section_container">
      <h2 class="section_title">Login to Your Account</h2>
      <form (submit)="$event.preventDefault(); login()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username" type="text" placeholder="Enter your username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder="Enter your password" required></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Login</ion-button>
      </form>
      <p class="error_message">{{ loginMessage }}</p>
      <p>Don&apos;t have an account? <ion-router-link routerLink="/signup">Sign up here</ion-router-link></p>
    </div>
  </section>
</ion-content>